:root {
    --main: #680BC5;
    --light-main: #a180c9;
    --slight-darken-main: #5E09B2;
    --darken-main: #470D81;
    --light: #FFFFFF;
    --slight-dark: #E8E8E8;
    --slight-darker-dark: #c7c7c7;
    --negative: #FF1D89;
    --dark-negative: #ba1563;
}

body {
    margin: 0;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
}

.row {
    display: flex;
    flex-flow: row;
}

.column {
    display: flex;
    flex-flow: column;
}

.navbar {
    z-index: 2;
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    overflow: hidden;
    background-color: var(--main);
    display: grid;
    grid-template-columns: 2fr 3fr 1fr 220px;
    gap: 10px;
}

.header {
    background-color: var(--light);
    padding: 30px;
    text-align: center;
}

.navbar__button_bar {
    height: available;
    width: 100%;
    display: flex;
}

.button {
    display: block;
    margin: 5px 5px 5px 5px;
    cursor: pointer;
    box-sizing: border-box;
}

.button:active {
    transform: translateY(2px);
}

.navbar__button {
    float: left;
    height: 100%;
    cursor: pointer;
    font-size: 17px;
    color: var(--light);
    padding: 0 10px;
    line-height: 55px;
}

.navbar__button:hover {
    background: var(--slight-darken-main);
}

.navbar__button:active {
    background: var(--darken-main);
}

.navbar__button_right {
    padding: 0;
}

.navbar__button_right svg {
    width: 24px;
    height: 24px;
    fill: var(--light);
    color: var(--light);
    margin: 18px;
}

.navbar__button_bar__right_block {
    margin-left: auto;
}

.box {
    background: var(--light);
    border-radius: 14px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: available;
    width: -moz-available;
    height: fit-content;
    max-width: 100%;
}

.profile_menu {
    width: 150px;
    position: fixed;
    right: 20px;
    top: 60px;
    border-radius: 0 0 14px 14px;
}

.profile_menu__element {
    width: auto;
    height: fit-content;
    font-size: 16px;
    padding: 10px;
    cursor: pointer;
}

.profile_menu__element:hover {
    background: var(--slight-dark);
}

.profile_menu__element:active {
    background: var(--slight-darker-dark);
}

.profile_menu__element_last {
    border-radius: 0 0 14px 14px;
}

.content {
    padding: 16px;
}

.sticky + .content {
    padding-top: 60px;
}

.navbar__logo {
    color: var(--main);
    width: 100px;
    height: 45px;
    background: var(--light);
    border-radius: 15px;
    margin: 7px 0 7px 50px;
    text-align: center;
    line-height: 38px;
    cursor: pointer;
    border: 2px solid var(--light);
    box-sizing: border-box;
    user-select: none;
}

.navbar__logo:hover {
    background: var(--slight-dark);
    border: 2px solid var(--slight-dark);
    border-radius: 15px;

}

.navbar__logo:active {
    background: var(--main);
    color: var(--light);
    border: 2px solid var(--light);
    border-radius: 15px;

}

.navbar__profile_block {
    margin-right: 20px;
    margin-left: auto;
    position: relative;
    padding: 0 0 0 10px;
    max-width: 220px;
    width: fit-content;
}

.navbar__profile_block__profile_picture {
    width: 44px;
    height: 44px;
    background: var(--light);
    margin: 8px;
    border-radius: 5px;
}

.navbar__profile_block div {
    float: left;
    color: var(--light);
    text-align: center;
    font-size: 17px;
}

.navbar__profile_block div svg {
    width: 24px;
    height: 24px;
    fill: var(--light);
    color: var(--light);
    margin: 18px;
}


.root {
    display: grid;
    margin-top: 60px;
    width: 100%;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 10px;
}


.feed {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
    padding: 10px;
}

.article {
    width: 100%;
    background: var(--light);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    height: fit-content;
}

.article__wrapper {
    margin: 5px auto 5px;
    width: 85%;
}

.article__top_bar {
    display: flex;
    height: 40px;
    padding: 10px 0 5px 0;
}

.article__profile_picture {
    border: 1px solid var(--light);
    border-radius: 5px;
    width: 34px;
    height: 34px;
    margin: auto 5px auto 5px;
    box-sizing: border-box;
    cursor: pointer;
}

.article__profile_picture:hover {
    border: 1px solid var(--main);
}

.article__category {
    font-family: 'Roboto';
    font-style: bold;
    font-size: 14px;
    padding: 11px 3px 8px 3px;
    line-height: 17px;
    cursor: pointer;
}

.article__category:hover {
    color: var(--main)
}

.article__author {
    font-family: 'Roboto';
    font-style: bold;
    font-size: 14px;
    padding: 11px 3px 8px 3px;
    line-height: 17px;
    cursor: pointer;
}

.article__author:hover {
    color: var(--main)
}

.article__posting_time {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 9px;
    padding: 13px 3px 8px 3px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.5);
}

.article__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 46px;
    padding: 5px 20px 5px 20px;
    cursor: pointer;
}

.article__title:hover{
    color: var(--main);
}

.article__description {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    padding: 5px 20px 5px 20px;
}

.article__cover {
    width: 100%;
    height: 265px;
    background-color: var(--main);
}

.article__tagbox {
    margin: 10px;
    height: 30px;
    width: 50%;
    display: flex;
    align-content: flex-start;
}

.article__tag {
    height: fit-content;
    width: fit-content;
    margin: 5px 5px 3px 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    padding: 7px;
    text-align: center;
    color: black;
    border: 1px solid rgba(255, 46, 0, 0.2);
    border-radius: 11px;
    cursor: pointer;
}

.article__tag:hover {
    background: var(--slight-dark);
}

.article__bottom_bar {
    margin: 5px;
    display: flex;
    height: 40px;
    padding: 0 0 5px 0;
}

.article__comments_count {
    display: flex;
    float: left;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 14px;
    padding: 13px 3px 8px 3px;
    line-height: 17px;
    align-items: center;
    cursor: pointer;
}

.article__comments_count:hover {
    color: var(--main);
    fill: var(--main);
}

.article__comments_count__count {
    margin: 0 3px 0 3px;
}

.article__comments_count svg {
    width: 20px;
    height: 20px;
}

.article__rating {
    display: flex;
    float: right;
    font-style: normal;
    font-size: 17px;
    margin: 0 0 0 auto;
    height: 100%;
}

.article__rating svg {
    width: 15px;
    height: 15px;
    margin: auto 3px auto 3px;
    border-radius: 50%;
    cursor: pointer;
}

.article__rating svg:hover {
    background: rgba(0, 0, 0, 0.1);
}

.article__rating__count {
    margin: auto 3px auto 3px;
}

.login_form {
    background-color: var(--light);
    width: 400px;
    height: fit-content;
    margin: auto auto 0 auto;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.login_form__cross {
    position: relative;
    width: 16px;
    height: 16px;
    opacity: 0.5;
    left: calc(100% - 35px);
    top: 15px;
    cursor: pointer;
    padding: 4px;
    border-radius: 50%;
}

.login_form__cross:hover {
    background: var(--slight-dark);
}

.login_form__go_back {
    position: relative;
    width: 20px;
    height: 20px;
    opacity: 0.5;
    left: 16px;
    top: -8px;
    cursor: pointer;
    border-radius: 50%;
}

.login_form__go_back:hover {
    background: var(--slight-dark);
}

.enter_sign {
    margin: 50px auto 10px auto;
    width: fit-content;
    height: fit-content;
    font-size: 30px;
    color: black;
}

.input_box {
    margin: 0 auto 10px auto;
    width: fit-content;
    height: fit-content;
    font-size: 40px;
    color: black;
}

.log_label_wrapper {
    width: 80%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin: 10px auto 20px auto;
}

.login_form__log_input {
    background: var(--light);
    border: 3px solid rgba(0, 0, 0, 0.25);
    padding: 7px 5px;
    margin: 10px 10px;
    border-radius: 10px;
    width: -moz-available;
    width: -webkit-fill-available;
    outline: none;
}

.login_form__log_input:focus {
    background: var(--light);
    border: 3px solid rgba(104, 11, 197, 0.5);
}

.login_form__log_input:invalid {
    background: var(--light);
    border: 3px solid rgba(255, 0, 0, 0.5);
}

.horizontal_center_div {
    margin-right: auto !important;
    margin-left: auto !important;
}

.vertical_center_div {
    margin-top: auto !important;
    margin-bottom: auto !important;
}

.accent_button {
    background: var(--main);
    color: var(--light);
    border-radius: 10px;
    width: 200px;
    padding: 10px 0 10px 0;
    border: 3px solid var(--main);
}

.accent_button:hover {
    background: var(--darken-main);
    border: 3px solid var(--darken-main);
}

.non_accent_button {
    background: var(--light);
    border-radius: 10px;
    border: 3px solid rgba(104, 11, 197, 0.75);
    width: 200px;
    padding: 10px 0 10px 0;
    text-align: center;
}

.non_accent_button:hover {
    background: var(--main);
    color: var(--light);
    border: 3px solid var(--main);
}

.negative_accent_button {
    background: var(--negative);
    color: var(--light);
    fill: var(--light);
    border-radius: 10px;
    width: 200px;
    padding: 10px 0 10px 0;
    border: 3px solid var(--negative);
}

.negative_accent_button:hover {
    background: var(--dark-negative);
    border: 3px solid var(--dark-negative);
}

.negative_non_accent_button {
    color: var(--negative);
    fill: var(--negative);
    background: var(--light);
    border-radius: 10px;
    border: 3px solid var(--negative);
    width: 200px;
    padding: 10px 0 10px 0;
    text-align: center;
}

.negative_non_accent_button:hover {
    background: var(--negative);
    color: var(--light);
    fill: var(--light);
    border: 3px solid var(--negative);
}

div.log-button-container {
    margin: 20px 0 10px 0;
    display: flex;
    flex-direction: column;
}

.registration_form {
    position: fixed;
    top: 25%;
    left: 25%;
    right: 25%;
    z-index: 2;
    width: 400px;
    background-color: var(--light);
    height: fit-content;
    margin: 100px auto 0 auto;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.overlay {
    position: fixed; /* Sit on top of the settings_page content */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.overlay__center {
    z-index: 2;
    width: 100%;
    height: fit-content;
    margin: 100px auto 0 auto;
    top: 100px;
    display: flex;
    flex-direction: column;
}

.error-message {
    color: red;
    font-size: 12px;
    margin: 0 15px;
}

.center_with_sidebar {
    display: grid;
    grid-template-columns: 1fr 150px;
    gap: 10px;
}

.profile_box {
    width: 100%;
    margin: 5px;
    padding: 10px 0;
}

.inputs_wrapper {
    display: flex;
    flex-direction: column;
}

.form {
    background: var(--slight-dark);
    border: 3px solid rgba(0, 0, 0, 0.25);
    padding: 7px 5px;
    margin: 10px 10px;
    border-radius: 10px;
    width: 250px;
}

.form:focus {
    background: var(--light);
    border: 3px solid rgba(104, 11, 197, 0.5);
}

.form:invalid {
    background: var(--light);
    border: 3px solid rgba(255, 0, 0, 0.5);
}

.form_label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 10px 10px 0 10px;
}

.settings__avatar_row {
    display: flex;
    flex-direction: row;
}

.settings__avatar_row_avatar {
    width: 125px;
    height: 125px;
}

.settings__avatar_row_input {
    display: none;
}

.link {
    color: var(--main);
    cursor: pointer;
}

.link:hover {
    color: var(--negative);
}

.settings__avatar_link {
    font-size: 20px;
}

.sidebar_title {
    font-size: 18px;
    padding: 10px;
}

.right_side_bar {
    width: 100%;
    margin: 5px;
    border-radius: 14px;

}

.right_side_bar__element {
    width: auto;
    height: fit-content;
    font-size: 16px;
    padding: 10px;
    cursor: pointer;
}

.right_side_bar__element:hover {
    background: var(--slight-dark);
}

.right_side_bar__element:active {
    background: var(--slight-darker-dark);
}

.right_side_bar__element__last {
    border-radius: 0 0 14px 14px;
}

.feed_page__header {
    padding: 20px;
    margin: 0 10px 10px 10px;
}

.feed_page__header__avatar {
    border: black 2px solid;
    border-radius: 20px;
    width: 100px;
    height: 100px;
}

.feed_page__header__subscribe {
    font-size: 15px;
    padding: 5px;
    border-radius: 14px;
    width: fit-content;
    height: fit-content;
    margin-left: auto;
}

.feed_page__header__name {
    font-family: 'Arial', serif;
    padding: 3px;
    font-size: 30px;
    font-weight: bold;
}

.feed_page__header__description {
    font-family: 'Arial', serif;
    padding: 3px;
    font-size: 16px;
    word-wrap: anywhere;
}

.feed_page__header__subscribers {
    font-family: 'Arial', serif;
    padding: 10px 3px;
    font-size: 16px;
    margin-top: 10px;
}

.rating {
    font-size: 16px;
    color: black;
}

.rating_positive {
    color: var(--light-main);
}

.rating_negative {
    color: var(--negative);
}

.subscribers_avatars_wrapper{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    margin: 3px 10px 10px 10px;
}

.subscriber_avatar{
    width: calc(100%/5 - 5px);
    height: 20px;
    margin: 2.5px;
    background: var(--slight-dark);
}

.right_side_bar__content{
    font-family: 'Arial', serif;
    padding: 10px;
    font-size: 15px;
}

.right_side_bar__rules {
    max-height: 75%;
}

.article__content{
    font-size: 16px;
    padding: 10px 0;
    width: 75%;
}

.div_textarea{
    width: 100%;
    border: var(--slight-dark) 1px solid;
    outline: none;
    resize: none;
    font-size: 16px;
    margin: 6px;
    padding: 5px;
}

.article_edit__content{
    min-height: 200px;
    margin-bottom: 55px;
}

.article_edit__footer{

    position: fixed;
    bottom: 0;
    left: 20%;
    right: 18%;
    height: 55px;
}

.article_edit__save_button{
    height: fit-content;
    font-size: 16px;
    text-align: center;
    width: fit-content;
    padding: 8px;
}

.article_edit__delete_button{
    height: 40px;
    width: 40px;
    font-size: 16px;
    text-align: center;
    padding: 7px;
    float: left;
    margin-left: auto;
}

.article_edit__delete_button svg{
    width: 20px;
    height: 20px;
}

.article_edit__label{
    font-size: 20px;
    margin-left: 10px;
}
