#navbar {
    z-index: 2;
    position: fixed;
    top: 0;
    width: 100%;
}

body {
    margin: 0;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
}


.header {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
}

#navbar {
    height: 60px;
    overflow: hidden;
    background-color: #680BC5;
    display: flex;
}

.navbar__button_bar {
    margin-left: auto;
    margin-right: auto;
    height: available;
    width: 45%;
    display: flex;
}

.navbar__button {
    float: left;
    height: 100%;
    cursor: pointer;
    font-size: 17px;
    color: #FFFFFF;
    padding: 0 10px;
    line-height: 55px;
}

.navbar__button:hover {
    background: #5E09B2;
}

.navbar__button:active {
    background: #470D81;
}

.navbar__button_right {
    padding: 0;
}

.navbar__button_right svg {
    width: 24px;
    height: 24px;
    fill: #FFFFFF;
    color: #FFFFFF;
    margin: 18px;
}

.navbar__button_bar__right_block {
    margin-left: auto;
}

.content {
    padding: 16px;
}

.sticky + .content {
    padding-top: 60px;
}

.navbar__logo {
    color: #680BC5;
    width: 100px;
    height: 45px;
    background: #FFFFFF;
    border-radius: 15px;
    margin: 7px 0 7px 50px;
    text-align: center;
    line-height: 38px;
    cursor: pointer;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    user-select: none;
}

.navbar__logo:hover {
    background: #E8E8E8;
    border: 2px solid #E8E8E8;
    border-radius: 15px;

}

.navbar__logo:active {
    background: #680BC5;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 15px;

}

.navbar__profile_block {
    margin-right: 20px;
    position: relative;
    padding: 0 0 0 10px;
    max-width: 300px;
}

.navbar__profile_block__profile_picture {
    width: 44px;
    height: 44px;
    background: #FFFFFF;
    margin: 8px;
    border-radius: 5px;
}

.navbar__profile_block div {
    float: left;
    color: #f2f2f2;
    text-align: center;
    font-size: 17px;
}

.navbar__profile_block div svg {
    width: 24px;
    height: 24px;
    fill: #FFFFFF;
    color: #FFFFFF;
    margin: 18px;
}

.feed {
    width: 60%;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
    padding: 10px;
}

.article {
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    height: fit-content;
}

.article__wrapper {
    margin: 5px 20px 5px 20px;
}

.article__top_bar {
    display: flex;
    height: 40px;
    padding: 10px 0 5px 0;
}

.article__profile_picture {
    background: #470D81;
    border-radius: 5px;
    width: 34px;
    height: 34px;
    margin: auto 5px auto 5px;
    box-sizing: border-box;
    cursor: pointer;
}

.article__profile_picture:hover {
    border: 1px solid #680BC5;
}

.article__category {
    font-family: 'Roboto';
    font-style: bold;
    font-size: 14px;
    padding: 11px 3px 8px 3px;
    line-height: 17px;
    cursor: pointer;
}

.article__category:hover {
    color: #680BC5
}

.article__author {
    font-family: 'Roboto';
    font-style: bold;
    font-size: 14px;
    padding: 11px 3px 8px 3px;
    line-height: 17px;
    cursor: pointer;
}

.article__author:hover {
    color: #680BC5
}

.article__posting_time {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 9px;
    padding: 13px 3px 8px 3px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.5);
}

.article__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 46px;
    padding: 5px 20px 5px 20px;
}

.article__description {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    padding: 5px 20px 5px 20px;
}

.article__cover {
    width: 100%;
    height: 265px;
    background-color: #680BC5;
}

.article__tagbox {
    margin: 10px;
    height: 30px;
    width: 50%;
    display: flex;
    align-content: flex-start;
}

.article__tag {
    height: fit-content;
    width: fit-content;
    margin: 5px 5px 3px 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    padding: 7px;
    text-align: center;
    color: #000000;
    border: 1px solid rgba(255, 46, 0, 0.2);
    border-radius: 11px;
    cursor: pointer;
}

.article__tag:hover {
    background: #E8E8E8;
}

.article__bottom_bar {
    margin: 5px;
    display: flex;
    height: 40px;
    padding: 0 0 5px 0;
}

.article__comments_count {
    display: flex;
    float: left;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 14px;
    padding: 13px 3px 8px 3px;
    line-height: 17px;
    align-items: center;
    cursor: pointer;
}

.article__comments_count:hover {
    color: #680BC5;
    fill: #680BC5;
}

.article__comments_count__count {
    margin: 0 3px 0 3px;
}

.article__comments_count svg {
    width: 20px;
    height: 20px;
}

.article__rating {
    display: flex;
    float: right;
    font-style: normal;
    font-size: 17px;
    margin: 0 0 0 auto;
    height: 100%;
}

.article__rating svg {
    width: 15px;
    height: 15px;
    margin: auto 3px auto 3px;
    border-radius: 50%;
    cursor: pointer;
}

.article__rating svg:hover {
    background: rgba(0, 0, 0, 0.1);
}

.article__rating__count {
    margin: auto 3px auto 3px;
}

.login_form {
    z-index: 2;
    background-color: #FFFFFF;
    width: 400px;
    height: fit-content;
    margin: auto auto 0 auto;
    position: fixed;
    top: 100px;
    left: 25%;
    right: 25%;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.login_form__cross {
    position: absolute;
    width: 20px;
    height: 20px;
    opacity: 0.5;
    left: calc(100% - 35px);
    top: 15px;
    cursor: pointer;
}

.login_form__go_back {
    position: absolute;
    width: 20px;
    height: 20px;
    opacity: 0.5;
    left: 15px;
    top: 15px;
    cursor: pointer;
}

.enter_sign {
    margin: 50px auto 10px auto;
    width: fit-content;
    height: fit-content;
    font-size: 30px;
    color: #000000;
}

.input_box {
    margin: 0 auto 10px auto;
    width: fit-content;
    height: fit-content;
    font-size: 40px;
    color: #000000;
}

.log_label_wrapper {
    width: 80%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin: 10px auto 20px auto;
}

.login_form__log_input {
    background: #FFFFFF;
    border: 3px solid rgba(0, 0, 0, 0.25);
    padding: 7px 5px;
    margin: 10px 10px;
    border-radius: 10px;
    width: available;
}

.login_form__log_input:focus {
    background: #FFFFFF;
    border: 3px solid rgba(104, 11, 197, 0.5);
}

.login_form__log_input:invalid {
    background: #FFFFFF;
    border: 3px solid rgba(255, 0, 0, 0.5);
}

.accent_button {
    background: #680BC5;
    color: #FFFFFF;
    border-radius: 10px;
    width: 200px;
    margin: 5px auto 5px auto;
    padding: 10px 0 10px 0;
    border: 3px solid #680BC5;
    cursor: pointer;
    box-sizing: border-box;
}

.accent_button:hover {
    background: #550E9C;
    border: 3px solid #550E9C;
}

.non_accent_button {
    background: #FFFFFF;
    border-radius: 10px;
    border: 3px solid rgba(104, 11, 197, 0.75);
    width: 200px;
    margin: 5px auto 5px auto;
    padding: 10px 0 10px 0;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
}

.non_accent_button:hover {
    background: #680BC5;
    color: #FFFFFF;
    border-radius: 7px;
    width: 200px;
    margin: 5px auto 5px auto;
    padding: 10px 0 10px 0;
    border: 3px solid #680BC5;
    cursor: pointer;
    box-sizing: border-box;
}

div.log-button-container {
    margin: 20px 0 10px 0;
    display: flex;
    flex-direction: column;
}

.registration_form {
    position: fixed;
    top: 25%;
    left: 25%;
    right: 25%;
    z-index: 2;
    width: 400px;
    background-color: #FFFFFF;
    height: fit-content;
    margin: 100px auto 0 auto;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.overlay {
    position: fixed ; /* Sit on top of the page content */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    z-index: 0;
    backdrop-filter: blur(10px);
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
}

#log-error {
    color: red;
    font-size: 12px;
}