<div class="commentary_form horizontal_center_div">
    <div contenteditable="true" class="div_textarea commentary_form__content div_width_available" role="textbox" id="title"
             placeholder="Ваш комментарий">{{content}}</div>
    <div class="commentary_form__footer row">
        {{#if update}}
        <div class="button accent_button commentary_form__save_button">Опубликовать</div>
        {{else}}
        <div class="button accent_button commentary_form__save_button">Сохранить</div>
        {{/if}}
    </div>
</div>
