<div class="article">
    <!--svg class="login_form__cross" id="login_form__cross">
        <use xlink:href="icons.svg#trash_bin"/>
    </svg-->
    <div class="article__wrapper">
        <div class="article__top_bar">
            {{#if category}}
            <img class="article__profile_picture" src="static/img/category_icon.jpg">
            <div class="article__category" id="article__category">{{category}}</div>
            {{else}}
            <img class="article__profile_picture" src="static/img/user_icon.jpg">
            {{/if}}
            <div class="article__author" id="article__author">{{publisher}}</div>
            <div class="article__posting_time">{{time}}</div>
        </div>
        <div class="article__title">{{title}}</div>
        <div class="article__description">{{description}}</div>
    </div>
    <img class="article__cover" src="{{picture}}">
    <div class="article__wrapper">
        <div class="article__tagbox">
            {{#each tags}}
            <div class="article__tag">{{this}}</div>
            {{/each}}
        </div>
        <div class="article__bottom_bar">
            <div class="article__comments_count">
                <div class="article__comments_count__count">{{comments}}</div>
                <svg>
                    <use xlink:href="icons.svg#comments"/>
                </svg>
            </div>
            {{#if author}}
            <div class="article__edit_button" title="Редактирвоать статью">
                <svg>
                    <use xlink:href="icons.svg#edit_article_pen"></use>
                </svg>
            </div>
            {{/if}}
            <div class="article__rating vertical_center_div">
                <svg>
                    <use xlink:href="icons.svg#arrow_down"/>
                </svg>
                <div class="article__rating__count">{{rating}}</div>
                <svg>
                    <use xlink:href="icons.svg#arrow_up"/>
                </svg>
            </div>
        </div>
    </div>
</div>
