<div class="article_edit">
    <select class="select_menu">
        <option value="">Без категории</option>
        {{#each categories}}
        <option value=="{{this}}<">{{this}}</option>
        {{/each}}
    </select>
    <div>
        <label class="article_edit__label">Заголовок:</label>
        <div contenteditable class="div_textarea article_edit__title" role="textbox" id="title">{{title}}</div>
        <label class="article_edit__label">Описание:</label>
        <div contenteditable class="div_textarea article_edit__description" role="textbox">{{description}}</div>
        <label class="article_edit__label" for="title">Наполнение:</label>
        <div contenteditable class="div_textarea article_edit__content" role="textbox" id="description">{{content}}
        </div>
    </div>
    <div class="article_edit__footer row">
        {{#if update}}
        <div class="button accent_button article_edit__save_button">Сохранить</div>
        <div class="button negative_non_accent_button article_edit__delete_button">
            <svg>
                <use xlink:href="icons.svg#trash_bin"></use>
            </svg>
        </div>
        {{else}}
        <div class="button accent_button article_edit__save_button">Опубликовать</div>
        {{/if}}
    </div>
</div>