<div class="login">
    <div class="enter-sign">Войти</div>
    <div class="input-box">
        <form method="post" id="login-form">
            <div class="log-label-wrapper">
                <label for="email-login" class="log-label">E-mail</label>
                <input id="email-login" type="text" class="log-input" placeholder="Введите email">
                <label for="password" class="log-label">Пароль</label>
                <input id="password" type="password" class="log-input" placeholder="Введите пароль">
                <input type="submit" value="Войти" class="enter-button">
                <div class="enter-button log-registration" id="signup-button">Регистрация</div>
            </div>
        </form>
    </div>
</div>