<div class="login_form">
    <svg class="login_form__cross" id="login_form__cross">
        <use xlink:href="icons.svg#cross"/>
    </svg>
    <div class="enter_sign">Войти</div>
    <form method="post" id="login_form" class="log_label_wrapper">
        <input id="login_form__email_login" type="text" class="login_form__log_input"
               placeholder="Введите email">
        <input id="login_form__password" type="password" class="login_form__log_input"
               placeholder="Введите пароль">
        <input class="accent_button" type="submit" value="Войти">
        <input class="non_accent_button" type="button" value="Регистрация" id="login_form__signup_button">
    </form>
</div>