<div class="login">
    <div class="enter-sign">Войти</div>
    <div class="input-box">
        <div class="log-label-wrapper"><label for="email-login" class="log-label">E-mail/login</label>
            <input id="email-login" type="text" class="log-input" placeholder="Введите email или пароль"></div>
        <div class="log-label-wrapper"><label for="password" class="log-label">Пароль</label>
            <input id="password" type="text" class="log-input" placeholder="Введите пароль"></div>
        <div class="log-button-container">
            <input type="submit" value="Войти" class="enter-button">
            <div class="enter-button log-registration">Регистрация</div>
        </div>
    </div>
</div>