<div class="navbar" id="navbar">
    <div class="navbar__logo" id="logo">ve.ru</div>
    <div class="navbar__button_bar">
        <div class="navbar__button" id="navbar__popular">Популярное</div>
        <div class="navbar__button" id="navbar__new">Свежее</div>
        <div class="navbar__button" id="navbar__subscribes">Подписки</div>
        <div class="navbar__button_bar__right_block">
            <div class="navbar__button_right navbar__button" id="navbar__other">
                <svg>
                    <use xlink:href="icons.svg#other"/>
                </svg>
            </div>
            <div class="navbar__button_right navbar__button" id="navbar__search">
                <svg>
                    <use xlink:href="icons.svg#search"/>
                </svg>
            </div>
        </div>
    </div>
    <div></div>
    <div class="navbar__profile_block navbar__button" id="navbar__auth_button">
    </div>
</div>