<div class="login_form">
    <svg class="login_form__go_back" id="login_form__go_back">
        <use xlink:href="icons.svg#left_arrow"/>
    </svg>
    <svg class="login_form__cross" id="login_form__cross">
        <use xlink:href="icons.svg#cross"/>
    </svg>
    <div class="enter_sign">Зарегестрироваться</div>
    <form class="log_label_wrapper" id="reg_form">
        <input class="login_form__log_input" id="email" type="email" placeholder="Введите email">
        <input class="login_form__log_input" id="login" type="text" placeholder="Введите логин">
        <input class="login_form__log_input" id="username" type="text" placeholder="Введите ник">
        <input class="login_form__log_input" id="password" type="password" placeholder="Введите пароль">
        <input class="login_form__log_input" id="repeat-password" type="password"
               placeholder="Повторите пароль">
        <input class="accent_button" type="submit" value="Зарегестрироваться">
    </form>
</div>