<div class="box profile_box">
  <form method="post" id="login_form" class="log_label_wrapper">
    <div class="inputs_wrapper">
      <label for="settings__login" class="form_label">Логин</label>
      <input id="settings__login" type="text" class="form"
             placeholder="Введите логин" value="{{login}}">
      <label for="settings__email" class="form_label">Email</label>
      <input id="settings__email" type="text" class="form"
             placeholder="Введите email" value="{{email}}">
      <label for="settings__nickname" class="form_label">Никнейм</label>
      <input id="settings__nickname" type="text" class="form"
             placeholder="Введите ник" value="{{username}}">
      <div class="settings__avatar_row">
        <label for="avatar_upload" class="box settings__avatar_row_avatar button">
          <div class="box settings__avatar_row_avatar">
            <object type="image/jpg">
              <img src="{{avatar_link}}">
            </object>
          </div>
          <input type="file" class="settings__avatar_row_input" id="avatar_upload" accept="image/*">
        </label>
        <div id="change_avatar" class="link vertical_center_div settings__avatar_link">Сменить аватар</div>
      </div>
    </div>
    <input class="accent_button button" type="button" value="Сохранить" id="save">
  </form>
</div>