<div class="box right_side_bar">
  <div class="sidebar_title">Подписчики</div>
  <div class="subscribers_avatars_wrapper">
    <div class="subcriber_avatar"></div>
    <div class="subscriber_avatar"></div>
    <div class="subscriber_avatar"></div>
    <div class="subscriber_avatar"></div>
    <div class="subscriber_avatar"></div>
    <div class="subscriber_avatar"></div>
    <div class="subscriber_avatar"></div>
    <div class="subscriber_avatar"></div>
    <div class="subscriber_avatar"></div>
    <div class="subscriber_avatar"></div>
  </div>
</div>