<div class="navbar" id="navbar">
    <div class="navbar__logo" id="logo">ve.ru</div>
    <div class="navbar__button_bar">
        <div class="navbar__button vertical_center_div" id="navbar__popular">Популярное</div>
        <!--div class="navbar__button" id="navbar__new">Свежее</div>
        <div class="navbar__button" id="navbar__subscribes">Подписки</div-->
        <div class="navbar__button_bar__right_block">
            <div class="navbar__button_right navbar__button vertical_center_div" id="navbar__other">
                <div class="navbar__button">Новая статья</div>
                <svg>
                    <use xlink:href="icons.svg#new_article_pen"/>
                </svg>
                <!--svg>
                    <use xlink:href="icons.svg#other"/>
                </svg-->
            </div>
            <div class="navbar__button_right navbar__button vertical_center_div" id="navbar__search">
                <svg>
                    <use xlink:href="icons.svg#search"/>
                </svg>
            </div>
        </div>
    </div>
    <div class="navbar__search_form__wrapper"></div>
    <div class="navbar__profile_block navbar__button" id="navbar__auth_button">
    </div>
</div>