server {
        listen 443 ssl;
        listen [::]:443 ssl;

        root /home/fackoff/code/5_sem_tech/front/front/public;
        index index.html;

        server_name ve.ru www.ve.ru;

        ssl_certificate     /home/fackoff/code/5_sem_tech/front/front/server/cert/cert.pem;
        ssl_certificate_key /home/fackoff/code/5_sem_tech/front/front/server/cert/key.pem;
        ssl_protocols       TLSv1 TLSv1.1 TLSv1.2;
        ssl_ciphers         HIGH:!aNULL:!MD5;

        location /api/ {
                proxy_pass https://127.0.0.1:8080;
                proxy_set_header Host $host;
        }

        location ~ ^(?!/api/)/(.*) {
                alias /home/fackoff/code/5_sem_tech/front/front/public/;
                try_files $1 $1/ /index.html;
        }
}